<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
<<<<<<< HEAD
  {{#each model as |rental|}}
    {{rental-title rental=rental destroyRental="destroyRental"}}
=======
  {{#each model as |rental-from-template|}}
    {{rental-tile rental=rental destroyRental="destroyRental"}}
>>>>>>> 534f5974481e0fdb4ad808a19fe743b05f2db5b6
  {{/each}}
</ul>

{{new-rental save2="save3"}}


{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
